:root {
  --color1: #cfe0e8;
  --color2: #b7d7e8;
  --color3: #87bdd8;
  --color4: #577d90;
  --color0: #daebe8;
}

/* Main App Container */

.app {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 5px;

}

/* Authentication bar */

.authentication {
  background-color: var(--color2);
  display: flex;
  justify-content: flex-end;
  margin: 2px;
  font-size: 3em;
  border-radius: 20px;
}

.authentication-left {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;


}

.logo {

  color: var(--color3);
  font-weight: 800;

}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.authentication-right {
  display: flex;
  margin-left: auto;
  font-size: 0.7em;
}

.log-user-buttons {
  display: none;
}

.log-admin-buttons {
  display: none;
}

.button-login,
.button-logout {
  background-color: var(--color3);
  border-style: none;
  font-size: x-large;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px;
}

.button-login:hover,
.button-logout:hover {
  background-color: var(--color4);
}

.button-login-hide,
.button-logout-hide {
  display: none;
}

.login-as-user {

  padding: 20px;
  display: flex;
  align-items: center;
}

.login-as-admin {

  display: flex;
  align-items: center;
  padding: 20px;

}

/* Navigation bar (Inventory, Groups, About us, My account, Administrator now on components/styling/navbar.css */

/* Search bar*/

.searchbar {
  /* background-color:var(--color3); */
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 2px;
  height: 5vh;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-bottom: 50px;
  font-size: 1.5em;
}

.searchbar-text {
  background-color: var(--color1);
  display: flex;
  align-items: center;
  width: 500px;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.5em;
}

.searchbar-categories-dropdown {
  background-color: var(--color2);
  display: flex;
  align-items: center;
  margin: 5px;
  padding-left: 10px;
}

.searchbar-groups-dropdown {
  background-color: var(--color2);
  display: flex;
  align-items: center;
  margin: 5px;
  padding-left: 10px;
}

.searchbar-search-button {
  background-color: var(--color2);
  display: flex;
  align-items: center;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.searchbar-search-button:hover {
  background-color: var(--color4);
}

/* Filter bar */

.filter {
  /* background-color:var(--color3); */
  display: flex;
  margin: 2px;
  justify-content: flex-end;
  font-size: 1.8em;

}

.filter-per-page {
  /* background-color:var(--color3); */
  padding-left: 10px;
  padding-right: 10px;

}

.filter-view {
  /* background-color:var(--color3); */
  padding-left: 10px;
  padding-right: 10px;
}

.filter-sort-by {
  /* background-color:var(--color3); */
  padding-left: 10px;
  padding-right: 10px;
}

/* Display ShowTools.jsx */

.show-title {
  text-align: center;
  margin: 30px;
  font-size: 300%;
}

.add-tool-button-div {
  display: flex;
  justify-content: center;
  background-color: var(--color1);
  margin: 2px;
  border-radius: 30px;
}

.show-tools {
  background-color: var(--color1);
  margin: 2px;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
}

.button-add {
  justify-content: center;
  align-self: center;
  background-color: var(--color3);
  border-radius: 10px;
  height: 100px;
  width: 250px;
  margin-top: 20px;
}

.button-add:hover {
  background-color: var(--color4);
}

.tools-table {
  background-color: var(--color1);
  margin: 20px;
  border-radius: 30px;
}

.th,
.td,
.tr {
  padding: 1em;
  background-color: red;
  text-align: center;
}

.td-image {
  width: 10%;
}

.td-tool-name {
  cursor: pointer;
}

img {
  width: 250px;
  max-height: 200px;
  max-width: 100%;
  max-height: 100%;
  transition: transform .2s;
}

img:hover {
  transform: scale(3);
  cursor: pointer;
}

/* For tools, categories... */
.button-delete {
  background-color: #ef5350;
  border-radius: 10px;
  padding: 5px;
  width: 150px;
}

.button-delete:hover {
  background-color: #b71c1c;
}

.button-edit {
  background-color: var(--color3);
  border-radius: 10px;
  padding: 5px;
  width: 100px;
}

.button-edit:hover {
  background-color: var(--color4);
}

/* Display Categories.jsx */

.add-tool-button-div {
  display: flex;
  justify-content: center;
  background-color: var(--color1);
  margin: 2px;
  border-radius: 30px;
}

.show-categories {
  background-color: var(--color1);
  margin: 2px;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
}

.categories-table {
  background-color: var(--color3);
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 30px;

}

th,
td,
tr {
  padding: 1em;
  background-color: var(--color1);
  text-align: center;
}

/* Pagination */

.pagination {
  background-color: var(--color1);
  margin: 2px;
  height: 10vh;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer */

.footer {
  background-color: var(--color3);
  margin: 2px;
  height: 10vh;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* One item view */

.one-item-container {
  background-color: var(--color2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 5%;
  width: 100%;
}

.one-item-information-container {
  background-color: var(--color2);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2%;
}

.one-item-picture {
  background-color: var(--color2);
  height: 30vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
.one-item-name {
  background-color:var(--color2);
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 500%;
  flex-wrap: wrap;
  width: 100%;
}

.one-item-description {
  background-color:var(--color2);
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 250%;
  flex-wrap: wrap;
  width: 100%;
}

.one-item-status {
  background-color:var(--color2);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  font-size: 250%;
}

.one-item-owner-name {
  background-color:var(--color2);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  font-size: 250%;
}

.one-item-owner-email {
  background-color:var(--color2);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  font-size: 250%;
} */

.one-item-name {
  font-size: 500%;
  background-color: var(--color2);
  margin-bottom: 70px;
}

.one-item-description {
  font-size: 300%;
  background-color: var(--color2);
}

.one-item-status {
  font-size: 300%;
  background-color: var(--color2);
}

.one-item-owner-name {
  font-size: 300%;
  background-color: var(--color2);
}


.one-item-owner-email {
  font-size: 300%;
  background-color: var(--color2);
}

.hide {
  display: none;
}