/* :root {
  --color1:#cfe0e8;
  --color2:#b7d7e8;
  --color3: #87bdd8;
  --color0: #daebe8;
  --color4: #577d90;
} */

:root {
  --color1: #c2e5c8;
  --color2: #b7e8b9;
  --color3: #8dd887;
  --color4: #5c9057;
  --color0: #e1ebda;
}


/* ShowAllToolsGrid */

.show-tools-grid-component {
  background-color: var(--color2);
  border-radius: 30px;
}

.show-tools-grid {
  
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start; */
  display: grid;
  grid-template-columns: repeat(5, 19.5%);
  gap: 0.5%;
  padding: 3%;
  font-size: xx-large;
}


/* OneToolForGrid */

.show-tools-component {
  background-color: var(--color1);
  border-radius: 30px;
}

.one-tool-for-grid {
  background-color: var(--color3);
  border-radius: 30px;
  margin: 0.2%;
  min-width: 19.6%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
  justify-content: space-around;
  box-shadow: 0px 0px 0px rgb(48, 45, 45);
  transition: all 300ms ease-in-out;
}

.one-tool-for-grid:hover{
  box-shadow: 0px 10px 10px;
}


.one-tool-for-grid-picture{
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.img-one-tool-for-grid{
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
}

.img-one-tool-for-grid:hover {
  transform: none;
}

.one-tool-for-grid-name {
font-size: xx-large;

}

.one-tool-for-grid-group {
  font-size: x-large;
  padding: 5%;
  text-align: center;
}

.one-tool-for-grid-availability {
background-color: white;
border-radius: 30px;
padding: 0px 10px 0px 10px;
font-size: x-large;
color: black;

}