/* This css overrides bootstraps modal */

:root {
  --color1:#cfe0e8;
  --color2:#b7d7e8;
  --color3: #87bdd8;
  --color0: #daebe8;
  --color4: #577d90;
}

.modal-open {
  padding-right: 0px;
}

/* class modal fade show id calendar-modal */
/* display flex justify content center */
/* #calendar-modal {
  display: flex;
  justify-content: center;
} */


.modal-calendar-dialog {
 background-color: transparent;


}

.modal-calendar-content {
  border-radius: 30px 30px 30px 30px;

}

.close {
  font-size: 2em;
}

.modal-calendar-header {
  
  display: flex;
  flex-direction: row-reverse;
  background-color:var(--color3);
  padding: 16px;
  border-radius: 30px 30px 0px 0px;
}

.modal-calendar-title {
  font-size: 2em;
}

.modal-calendar-body {
  background-color:var(--color2);
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 30px 30px;
  height: 700px;
}
