:root {
  --color1: #c2e5c8;
  --color2: #b7e8b9;
  --color3: #8dd887;
  --color4: #5c9057;
  --color0: #e1ebda;
}

.navbar {
  background-color:var(--color3);
  display: flex;
  justify-content: space-between;
  margin: 2px;
  font-size: 2em;
  border-radius: 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-button {
  background-color:var(--color3);
  padding: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-button:hover {
  background-color:var(--color1);
  border-radius: 20px;
}

.navbar-right {
  display: flex;
  margin-left: auto;
}

.navbar-dropdown {
  background-color:var(--color3);
  cursor: pointer;
  /* padding: 20px; */
  /* display: flex; 
  align-items: center;   */
}

.navbar-dropdown:hover {
  background-color:var(--color1);
  border-radius: 20px;
}

/* Dropdown menu */


.dropbtn-user, .dropbtn-admin {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropbtn-user-hide {
  display: none;
}

.dropbtn-admin-hide {
  display: none;
}

.navbar-dropdown:hover .dropbtn {
  background-color: var(--color3);
}


.navbar-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 20px;
}

.navbar-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar-dropdown-content a:hover {
  background-color: var(--color2);
  border-radius: 20px;
}

.navbar-dropdown:hover .navbar-dropdown-content {
  display: block;
}