@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* :root {
  --color1:#cfe0e8;
  --color2:#b7d7e8;
  --color3: #87bdd8;
  --color0: #daebe8;
  --color4: #577d90;
} */

:root {
    --color1: #c2e5c8;
    --color2: #b7e8b9;
    --color3: #8dd887;
    --color4: #5c9057;
    --color0: #e1ebda;
  }

/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
} */

/* body {
    min-height: 100vh;
    background-color: dodgerblue;
} */

.app-registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    /* padding: 1rem 0.5rem; */
}

section {
    width: 100%;
    max-width: 620px;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: var(--color2);
    border-radius: 30px;
    font-size: 2em;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a,
a:visited {
    /* color: #fff; */
    color: #6c757dcc;
}

input[type="text"],
input[type="password"],
.button-sign-up,
textarea {
    font-family: 'Nunito', sans-serif;
    font-size: 44px;
    padding: 0.25rem;
    border-radius: 0.5rem;
}

label,
.button-sign-up {
    margin-top: 1rem;
}

.button-sign-up {
    padding: 0.5rem;
}

.button-sign-up:disabled {
    background-color: var(--color3);
}

.instructions {
    font-size: 1.5rem;
    border-radius: 0.5rem;
    background: #000;
    /* color: #fff; */
    color: #6c757dcc;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions>svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}